#Bienvenidos {
	background-image: url(https://uvn-brightspot.s3.amazonaws.com/assets/vixes/btg/tech.batanga.com/files/Fondos-para-paginas-web-02.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-top: 10px;
	position: center;

}

#Bienvenidos img {
	width: 100%;
	height: 200%;
}

#Bienvenidos .contenedor {
	position: relative;
	top: 59%;
	left: 45%;
	transform: translateX(-50%) translateY(-50%);
	color: #333;
}


#Bienvenidos h2 {
	font-size: 30px;
}


#Bienvenidos a {
	display: block;
	width: 100px;
	color: #333;
	text-decoration: none;
	padding: 7px;
	margin-top: 10px;
	border: 3px solid #333;
}


#Bienvenidos a:hover {
	background: rgba(51,51,51,0.5);
	
}



@media (min-width: 480px) {
	#Bienvenidos h2 {
		font-size: 28px;

	}


	#Bienvenidos a {
		margin-top: 25px;
	}
}

@media (min-width:768px) {
	#Bienvenidos {
		height: 300px;
		overflow: hidden;

	}

	#Bienvenidos img {
		height: auto;
		margin-top: -100px;
	}
}

@media (min-width:1024px) {

	#Bienvenidos img {
		margin-top: -200px;
	}
}


